:root {
    --f1: #014a90;
    --f2: #5565cc;
    --f3: #948fd8;
    --f4: #c597df;
    --f5: #e598e8;
    --f6: #f899e9;
}

body, canvas {
    margin: 0;
    display: block;
}

.song-cite {
    position: fixed;
    bottom: 0;
    color: var(--f3);
    font-family: monospace;
}

.container {
    background: var(--primary);
    background: -webkit-radial-gradient(circle at 50% -25%, var(--f1), var(--f2), var(--f3));
    background: radial-gradient(circle at 50% -25%, var(--f1), var(--f2), var(--f3));
    min-height: 100vh;
}